*{
	font-family: 'arcade',sans-serif;
}

#myGameCanvas {
	width: 100%;
	height: 70vh;
	border: solid 1px #ccc;
	background-size: cover;
	border-radius: 0 0 5px 5px;
}

#gameMarker{
	width: 100%;
	height: 50px;
	background:#0066CC;
	border: 1px solid #ffffff;
	overflow: hidden;
	border-radius: 5px 5px 0 0;
}

#score, #lives{
	font-size: 35px;
	font-family: arcade, sans-serif;
	color: white;
}

#score{
	margin-left: 2%;
	float: left;
}

#lives{
	margin-right: 2%;
	float: right;
}

.gamepad-padding{
	padding-right: .7rem;
	padding-left: .7rem;
	position: relative;
	top: -.5%;
}

/* Wallpapers */
.game0{
 background: url("../assets/img/wallpapers/w_black.png");
}

.game1{
	background: url("../assets/img/wallpapers/w_default.png");
}

.game2{
	background: url("../assets/img/wallpapers/w_bw_cubes.png");
}

.game3{
	background: url("../assets/img/wallpapers/w_space.png");
}

.game4{
	background: url("../assets/img/wallpapers/w_old_paper.png");
}

.game5{
	background: url("../assets/img/wallpapers/w_red.png");
}

.game6{
	background: url("../assets/img/wallpapers/w_colors.png");
}

.game7{
	background: url("../assets/img/wallpapers/w_hexagon.png");
}

.game8{
	background: url("../assets/img/wallpapers/w_sun_tapestry.png");
}



/* Arcade Font */
@font-face {
	font-family: arcade;
	src: url("../assets/typography/ArcadeClassic.ttf");
}

/* Colors */
.red{
	color: red;
}

.black{
	background-color:black !important;
}

/* Animation */
.rainbow{
	background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
	animation: rainbow-animation 8s ease infinite;
	background-size: 400%;
}

@keyframes rainbow-animation{
	0%{
		background-position: 0% 50%;
		color: black;
	}
	50%{
		background-position: 100% 50%;
		color:white;
	}
	100%{
		background-position: 0% 50%;
		color: black;
	}
  }