#myGameCanvas {
	width: 100%;
	height: 90vh;
	border: solid 1px #ccc;
	background-size: cover;
	border-radius: 0 0 5px 5px;
}

#gameMarker{
	width: 100%;
	height: 50px;
	background:#0066CC;
	border: 1px solid #ffffff;
	overflow: hidden;
	border-radius: 5px 5px 0 0;
}

#score, #lives{
	font-size: 35px;
	font-family: arcade, sans-serif;
	color: white;
}

#score{
	margin-left: 2%;
	float: left;
}

#lives{
	margin-right: 2%;
	float: right;
}

/* Wallpapers */
.game0{
 background: url("../assets/img/wallpapers/w_home.png");
}

.game1{
	background: url("../assets/img/wallpapers/w_default.png");
}

.game2{
	background: url("../assets/img/wallpapers/w_bw_cubes.png");
}

.game3{
	background: url("../assets/img/wallpapers/w_space.png");
}

.game4{
	background: url("../assets/img/wallpapers/w_old_paper.png");
}

.game5{
	background: url("../assets/img/wallpapers/w_red.png");
}

.game6{
	background: url("../assets/img/wallpapers/w_colors.png");
}

.game7{
	background: url("../assets/img/wallpapers/w_hexagon.png");
}

.game8{
	background: url("../assets/img/wallpapers/w_sun_tapestry.png");
}



/* Arcade Font */
@font-face {
	font-family: arcade;
	src: url("../assets/typography/ArcadeClassic.ttf");
}

/* Colors */
.red{
	color: red;
}

.black{
	background-color:black !important;
}